server {
  listen 443 ssl;
  server_name {{ fqdn }};

  access_log /var/log/nginx/nginx.{{ fqdn }}.access.log;
  error_log /var/log/nginx/nginx.{{ fqdn }}.error.log; 

  keepalive_timeout   70;
  ssl_certificate {{ ssl_key_dir }}/{{ fqdn }}/signed.crt;
  ssl_certificate_key {{ ssl_key_dir }}/{{ fqdn }}/domain.key;
  ssl_protocols       TLSv1 TLSv1.1 TLSv1.2;

  location / {
    root {{ nginx_root_dir }}/{{ fqdn }};
    index index.html index.htm;
    try_files $uri $uri/ =404;
  }
}

