{% for host in host_params %}
{% for id in range(0,host.nbr) %} 
{% for port in host.ports %}
server {
  listen {{ port }}{% if port == 443 %} ssl{% endif %};
  server_name {{ host.hostname }}{% if host.hostname != "_" %}{% if host.nbr > 1 %}{{ id }}{% endif %}.{{ domain_name }}{% endif %};

  access_log /var/log/nginx/nginx.{{ host.hostname }}{% if host.nbr > 1 %}{{ id }}{% endif %}.access.log;
  error_log /var/log/nginx/nginx.{{ host.hostname }}{% if host.nbr > 1 %}{{ id }}{% endif %}.error.log; 

  {% if port == 443 %}
 # keepalive_timeout   70;
 # ssl_certificate     {{ ssl_key_dir }}/{{ host.hostname }}{% if host.hostname != "_" %}{% if host.nbr > 1 %}-{{ id }}{% endif %}.{{ domain_name }}{% endif %}.crt;
 # ssl_certificate_key {{ ssl_key_dir }}/{{ host.hostname }}{% if host.hostname != "_" %}{% if host.nbr > 1 %}-{{ id }}{% endif %}.{{ domain_name }}{% endif %}.key;
 # ssl_protocols       TLSv1 TLSv1.1 TLSv1.2;
  {% endif %}

  location / {
    root {{ nginx_root_dir }}/{{ host.hostname }}{% if host.hostname != "_" %}{% if host.nbr > 1 %}{{ id }}{% endif %}.{{ domain_name }}{% endif %};
    return 200 "You're in {{ host.hostname }}{% if host.hostname != "_" %}{% if host.nbr > 1 %}{{ id }}{% endif %}.{{ domain_name }}{% endif %}! Hello, there! ";
  }
{% if port != 443 %}
  location /.well-known {
    root {{ nginx_root_dir}}/{{ host.hostname }}{% if host.hostname != "_" %}{% if host.nbr > 1 %}{{ id }}{% endif %}.{{ domain_name }}{% endif %};
  }
{% endif %}
}
{% endfor %}
{% endfor %} 
{% endfor %}

